.info__button {
    padding: 20px 35px;
    border-radius: 30px;
    background-color: $red;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
        opacity: .5;
    }
}
h2 {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 700;
    color: $black;
}