@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('../fonts/UniNeue/UniNeue-Trial-Regular.woff2') format('woff2'),
        url('../fonts/UniNeue/UniNeue-Trial-Regular.woff') format('woff'),
        url('../fonts/UniNeue/UniNeue-Trial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('../fonts/UniNeue/UniNeue-Trial-Light.woff2') format('woff2'),
        url('../fonts/UniNeue/UniNeue-Trial-Light.woff') format('woff'),
        url('../fonts/UniNeue/UniNeue-Trial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('../fonts/UniNeue/UniNeue-Trial-Bold.woff2') format('woff2'),
        url('../fonts/UniNeue/UniNeue-Trial-Bold.woff') format('woff'),
        url('../fonts/UniNeue/UniNeue-Trial-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('../fonts/UniNeue/UniNeue-Trial-Book.woff2') format('woff2'),
        url('../fonts/UniNeue/UniNeue-Trial-Book.woff') format('woff'),
        url('../fonts/UniNeue/UniNeue-Trial-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('../fonts/UniNeue/UniNeue-Trial-Heavy.woff2') format('woff2'),
        url('../fonts/UniNeue/UniNeue-Trial-Heavy.woff') format('woff'),
        url('../fonts/UniNeue/UniNeue-Trial-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('../fonts/UniNeue/UniNeue-Trial-Black.woff2') format('woff2'),
        url('../fonts/UniNeue/UniNeue-Trial-Black.woff') format('woff'),
        url('../fonts/UniNeue/UniNeue-Trial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} 