@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-Bold.woff2') format('woff2'),
        url('UniNeue-Trial-Bold.woff') format('woff'),
        url('UniNeue-Trial-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-Light.woff2') format('woff2'),
        url('UniNeue-Trial-Light.woff') format('woff'),
        url('UniNeue-Trial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-Thin.woff2') format('woff2'),
        url('UniNeue-Trial-Thin.woff') format('woff'),
        url('UniNeue-Trial-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-Black.woff2') format('woff2'),
        url('UniNeue-Trial-Black.woff') format('woff'),
        url('UniNeue-Trial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-Regular.woff2') format('woff2'),
        url('UniNeue-Trial-Regular.woff') format('woff'),
        url('UniNeue-Trial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-BoldItalic.woff2') format('woff2'),
        url('UniNeue-Trial-BoldItalic.woff') format('woff'),
        url('UniNeue-Trial-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue-Trial Book';
    src: url('UniNeue-Trial-Book.woff2') format('woff2'),
        url('UniNeue-Trial-Book.woff') format('woff'),
        url('UniNeue-Trial-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-Heavy.woff2') format('woff2'),
        url('UniNeue-Trial-Heavy.woff') format('woff'),
        url('UniNeue-Trial-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-BlackItalic.woff2') format('woff2'),
        url('UniNeue-Trial-BlackItalic.woff') format('woff'),
        url('UniNeue-Trial-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-LightItalic.woff2') format('woff2'),
        url('UniNeue-Trial-LightItalic.woff') format('woff'),
        url('UniNeue-Trial-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-RegularItalic.woff2') format('woff2'),
        url('UniNeue-Trial-RegularItalic.woff') format('woff'),
        url('UniNeue-Trial-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-HeavyItalic.woff2') format('woff2'),
        url('UniNeue-Trial-HeavyItalic.woff') format('woff'),
        url('UniNeue-Trial-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue-Trial Book';
    src: url('UniNeue-Trial-BookItalic.woff2') format('woff2'),
        url('UniNeue-Trial-BookItalic.woff') format('woff'),
        url('UniNeue-Trial-BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Neue-Trial';
    src: url('UniNeue-Trial-ThinItalic.woff2') format('woff2'),
        url('UniNeue-Trial-ThinItalic.woff') format('woff'),
        url('UniNeue-Trial-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

